  body{

  }
  .headerContainer{
    width: 100%;
    background-color: black;

  }
  .header{
    background-color: black;
    height: 3.5em;
    display:flex;
    align-items: center; 
    padding:1em;
    font-family: "Oswald", sans-serif;
  }
  .menu , .menu-last {
    height: 100%;
    padding-top:2em ;
    p {
    margin-top:1.75em;
    font-size: 1.5em;
    color:white; 
    margin-right:1em;
    margin-left:1em;
    text-decoration: none;
    display: inline;
    }

  }
  .menu:hover,  .menu-last:hover{
    background-color: gray;
    height: 100%;
    cursor: pointer;
  }
  .menu-last{
    margin-left:auto;
    
  }
  
  
  .content{
    margin-top:0.5em;
    .menuLeft{
      font-size:1em ; 
      color:white;
      text-decoration: white;
      font-family: "Oswald", sans-serif;
      width: 100%;
      text-align: center;
      padding:0.2em;
    }
    .menuLeft:hover{
      background-color: aquamarine;
    }

    .leftBar {
      padding-top:0.5em;
      padding-bottom:0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 8em;
      max-width: 14em;
      background-color: cadetblue;
      min-height: 8em;
  
    }
  }




