body{
  flex-flow: row wrap; 

  .header { 
    flex: 0 0 100% ; 
    background-color:aquamarine;
    height: 4em;
    
  }
  .content{
    flex: 0 0 100%;
    background-color: antiquewhite;
    height: 80vh;
    display: flex;
      .leftMenu{
        flex: 0 0 18em; 
        background-color: teal;
        height: 100%;
        order:1;
      }
      .mainContent{
        flex: 1 1 auto;
        background-color: white;
        height: 100%;
        order:2; 
        .gridContent{
          grid-gap: 2px; 
          
          .gridItem{
            min-height: 12em;
            border: solid 1px black;
            &--test{
              height: 40em;
            }
          }
        }
      }
      .rightContent{
        flex: 0 0 18em; 
        height: 100%;
        background-color: burlywood;
        order:4;
      }
      .rightContentEnd{
        flex: 0 0 15em;
        order:3;
        height: 100%;
        background-color: aqua;
      }

  }


}